# local editor / workspace files
/.vscode/
*.code-workspace
/.settings
/.eide/log
/.eide.usr.ctx.json

# build output
/build
/bin
/obj
/out
*.lst

# Keil/MDK user-specific files
*.uvguix.*
JLinkLog.txt
JLinkSettings.ini

# eide template
*.ept
*.eide-template
